<div class="bg-blue-500 w-40 text-white font-semibold ml-4 absolute z-20 top-14">
    <ul
    class="link"
    routerLink="/fullscreen" 
    routerLinkActive="active" 
    >
        <h1>FullScreen</h1>
    </ul>
    <ul
    class="link"
    routerLink="/zoom-range" 
    routerLinkActive="active"
    >
        <h1>Zoom Range</h1>
    </ul>
    <ul 
    class="link"
        routerLink="/marcadores" 
    routerLinkActive="active" 
    >
        <h1>Marcadores</h1>
    </ul>
    <ul
    class="link"
        routerLink="/propiedades" 
    routerLinkActive="active" 
    >
        <h1>Propiedades</h1>
    </ul>
</div>