<div #mapa class="w-full min-h-screen"></div>
<div class="fixed p-5 bottom-5 bg-white w-96 ml-4">
  <div class="flex flex-col">
    <label for="inputRange" class="font-semibold">
        Zoom: {{zoomLevel | number:'2.0-2'}}
        - Lng,Lat : [{{center[0] | number:'2.4-4'}},{{center[1] | number:'2.4-4'}}]
    </label>
    <input 
      type="range" 
      class="accent-blue-600 mt-3 cursor-pointer" 
      id="inputRange" 
      [value]="zoomLevel"
      min="0"
      max="18"
      (input)="zoomChange(zoomInput.value)"
      #zoomInput
    />
    <div class="flex justify-between mb-3">
      <h1>0</h1>
      <h1>18</h1>
    </div>
  </div>
  <div class="flex justify-between">
      <button class="btn" (click)="zoomIn()">-</button>
      <button class="btn" (click)="zoomOut()">+</button>
  </div>
</div>
